@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-checkbox {
    accent-color: #d72638; /* Example custom color */
  }

  .recieved-order-stamp {
    color: #017f2f; /* Equivalent to text-green-600 */
    font-size: 1.125rem; /* Equivalent to text-lg (18px) */
    font-weight: 700; /* Equivalent to font-bold */
    border: 2px solid #005c22; /* Equivalent to border-green-600 */
    border-radius: 0.25rem; /* Equivalent to rounded (4px radius) */
    padding: 0.25rem 1rem; /* Equivalent to px-4 py-1 */
    display: inline-block; /* Ensures the element respects padding and borders */
    text-transform: uppercase; /* Makes the text uppercase */
    letter-spacing: 1px; /* Slightly increases the space between letters */
    text-align: center; /* Centers the text within the element */
    background-color: transparent; /* Keeps the background clear */
  }
  .canceled-order-stamp {
    color: #ff0000; /* Equivalent to text-green-600 */
    font-size: 1.125rem; /* Equivalent to text-lg (18px) */
    font-weight: 700; /* Equivalent to font-bold */
    border: 2px solid #ff0000; /* Equivalent to border-green-600 */
    border-radius: 0.25rem; /* Equivalent to rounded (4px radius) */
    padding: 0.25rem 1rem; /* Equivalent to px-4 py-1 */
    display: inline-block; /* Ensures the element respects padding and borders */
    text-transform: uppercase; /* Makes the text uppercase */
    letter-spacing: 1px; /* Slightly increases the space between letters */
    text-align: center; /* Centers the text within the element */
    background-color: transparent; /* Keeps the background clear */
  }
  .successful-delivery-stamp {
    color: #18c257; /* Equivalent to text-green-600 */
    font-size: 1.125rem; /* Equivalent to text-lg (18px) */
    font-weight: 700; /* Equivalent to font-bold */
    border: 2px solid #16a34a; /* Equivalent to border-green-600 */
    border-radius: 0.25rem; /* Equivalent to rounded (4px radius) */
    padding: 0.25rem 1rem; /* Equivalent to px-4 py-1 */
    display: inline-block; /* Ensures the element respects padding and borders */
    text-transform: uppercase; /* Makes the text uppercase */
    letter-spacing: 1px; /* Slightly increases the space between letters */
    text-align: center; /* Centers the text within the element */
    background-color: transparent; /* Keeps the background clear */
  }

  .ongoing-delivery-stamp {
    color: #18c257; /* Equivalent to text-green-600 */
    font-size: 1.125rem; /* Equivalent to text-lg (18px) */
    font-weight: 700; /* Equivalent to font-bold */
    border: 2px solid #18c257; /* Equivalent to border-green-600 */
    border-radius: 0.25rem; /* Equivalent to rounded (4px radius) */
    padding: 0.25rem 1rem; /* Equivalent to px-4 py-1 */
    display: inline-block; /* Ensures the element respects padding and borders */
    text-transform: uppercase; /* Makes the text uppercase */
    letter-spacing: 1px; /* Slightly increases the space between letters */
    text-align: center; /* Centers the text within the element */
    background-color: transparent; /* Keeps the background clear */
  }
  .pending-order-stamp {
    color: #f5c000; /* Equivalent to text-green-600 */
    font-size: 1.125rem; /* Equivalent to text-lg (18px) */
    font-weight: 700; /* Equivalent to font-bold */
    border: 2px solid #f4d35e; /* Equivalent to border-green-600 */
    border-radius: 0.25rem; /* Equivalent to rounded (4px radius) */
    padding: 0.25rem 1rem; /* Equivalent to px-4 py-1 */
    display: inline-block; /* Ensures the element respects padding and borders */
    text-transform: uppercase; /* Makes the text uppercase */
    letter-spacing: 1px; /* Slightly increases the space between letters */
    text-align: center; /* Centers the text within the element */
    background-color: transparent; /* Keeps the background clear */
  }
  .tab-primary-bg {
    background-color: var(--color-primary);
  }

  .tab-secondary-bg {
    background-color: var(--color-secondary);
  }
}

input::placeholder {
  color: inherit; /* Inherit color from parent */
  font-size: inherit; /* Inherit font size from parent */
  font-family: inherit; /* Inherit font family from parent */
  /* Add any other necessary styles */
}
